{% extends 'base.html.twig' %}

{% block title %}Astronaut index{% endblock %}

{% block body %}
{#    <h1>Liste des astronautes</h1>#}

{#    <a href="{{ path('app_astronaut_new') }}">Create new</a>#}
    <div id="app"></div>
{% endblock %}
